body{
    background-color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h2#title{
    font-family: 'Verdana';
    color: #b87333;
    text-align: center;
}

div#hangman{
    display: flex;
    flex-direction: row;
}

img#hangman_post{
    width: 50vw;
    height: auto;
}

.caption{
    color: #b87333;
}

div#board{
  display: flex;
  height: 30vh;
  width: 75vw;
  margin-top: -5%;
  margin-bottom: 5%;
  justify-content: center;
  flex-direction: column;
}

div.row{
  display: flex;
  height: 33%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

div.key{
  display: flex;
  border-style: solid;
  border-color: #b87333;
  color: #b87333;
  height: 7vh;
  width: 3vw;
  justify-content: center;
  align-items: center;
  margin: .75%;
}

div.key:hover{
  border-color: #801818;
  color: #801818;
}
