body{
    background-color: ivory;
    display: flex;
    flex-direction: column;
}

h2#title{
    font-family: 'Verdana';
    color: #b87333;
    text-align: center;
}

div#hangman{
    display: flex;
    flex-direction: row;
}

img#hangman_post{
    width: 50vw;
    height: auto;
}

.caption{
    color: #b87333;
}